@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6em;
}
.bodytop{
    padding-top: 15%;
}
@media (min-width: 768px) and (max-width: 992px){
    .box{
        height:20em;
    }
}
.boxes{
    padding-left: 10%;
    padding-right: 10%;
}
.boxLabel{
   font-family: 'Josefin Sans', sans-serif; 
}
.name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 5em;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
}
ul{
    list-style:none;
    margin-top:-5px;
    padding-left:10px;
}
li{
    /* font-style:italic; */
}
.footer{
    position:fixed;
    bottom:0px;
    right:1%;
}
.class {
  margin-top: 10px;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  background-color: rgba(50,50,50,0.2);
}
.project p{
  font-size: 1.2em;
}
.more, .less{
  padding-top:-30px;
  font-size: 0.8em;
  display:inline-block;
  margin-top:-10px;
}
