body{
    padding-top: 15%;
}
.boxes{
    padding-left: 100px;
    padding-right: 100px;
}
.boxLabel{
}
.name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 500%;
    padding-bottom: 30px;
}
ul{
    list-style:none;
    padding-left:0px;
}
li{
    font-style:italic;
}
