@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:600);

body{
    padding-top: 15%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.6em;
}
@media (min-width: 768px) and (max-width: 992px){
    .box{
        height:20em;
    }
}
.boxes{
    padding-left: 10%;
    padding-right: 10%;
}
.boxLabel{
   font-family: 'Josefin Sans', sans-serif; 
}
.name{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 5em;
    padding-bottom: 2%;
    font-family: 'Josefin Sans', sans-serif;
}
ul{
    list-style:none;
    margin-top:-5px;
    padding-left:10px;
}
li{
    /* font-style:italic; */
}
.footer{
    position:fixed;
    bottom:0px;
    right:1%;
}
