ErrorDocument 404 /blog/404.html
RedirectMatch 301 /blog/post-.*/(.*) /blog/post/$1
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [R=301,L]
RewriteRule ^([^\.]+)$ $1.html [NC,L]
